<!DOCTYPE html>
<html>
<head>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"></style>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/sockjs-client/0.3.4/sockjs.min.js"></script>

  <script>
  
  var player,
    tag = document.createElement('script'),
    firstScriptTag = document.getElementsByTagName('script')[0];

tag.src = "https://www.youtube.com/iframe_api";
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

function onPlaybackQualityChange(event) {
    console.log(event);
}

function onPlayerStateChange(event) {
    console.log(event);
}

function onReady(event) {
    function logDuration() {
        $("#position").text(player.getCurrentTime());
        $("#duration").text(player.getDuration());
        window.setTimeout(logDuration, 1000);
    }
    
    logDuration();
    
    console.log(event);
//    player.loadVideoById("OEtzyDNbwes", 0);
    player.playVideo();
}

function onError(event) {
    console.log(event);
}

window.onYouTubeIframeAPIReady = function onYouTubeIframeAPIReady() {
    console.log("IFRAME API READY!");
    player = new YT.Player("wooot", {
        height: 270,
        width: 480,
        videoId: "jExYHd1yyWc",
        playerVars: {
            controls: 0,
            iv_load_policy: 3 // Disables annotations.
        },
        events: {
            "onReady": onReady,
            "onStateChange": onPlayerStateChange,
            "onPlaybackQualityChange": onPlaybackQualityChange,
            "onError": onError
        }
    });
 };
 
 var myPlayerState;
      function onPlayerStateChange(event) {
        if (event.data == YT.PlayerState.PLAYING) {
          console.log("Playing!");
        };
        if (event.data == YT.PlayerState.PAUSED) {
          console.log("Paused!");
        }
        myPlayerState = event.data;
        console.log(myPlayerState);
      };
  
  
    $(function() {
      var conn = null;
      var curvote=null;

      function log(msg) {
        var control = $('#log');
        control.html(control.html() + msg + '<br/>');
        control.scrollTop(control.scrollTop() + 1000);
      }

      function connect() {
        disconnect();

        var transports = $('#protocols input:checked').map(function(){
            return $(this).attr('id');
        }).get();

        conn = new SockJS('http://' + window.location.host + '/chat', transports);

        log('Connecting...');

        conn.onopen = function() {
          log('Connected.');
          update_ui();
        };

        conn.onmessage = function(e) {
          log(e.data);
        };

        conn.onclose = function() {
          log('Disconnected.');
          conn = null;
          update_ui();
        };
      }

      function disconnect() {
        if (conn != null) {
          log('Disconnecting...');

          conn.close();
          conn = null;

          update_ui();
        }
      }

      function update_ui() {
        var msg = '';

        if (conn == null || conn.readyState != SockJS.OPEN) {
          $('#status').text('disconnected');
          $('#connect').text('Connect');
        } else {
          $('#status').text('connected (' + conn.protocol + ')');
          $('#connect').text('Disconnect');
        }
      }

      $('#connect').click(function() {
        if (conn == null) {
          connect();
        } else {
          disconnect();
        }

        update_ui();
        return false;
      });

      $('#upvote').click(function() {
        if (myPlayerState != 1) {
            bootstrap_alert.warning('The video must be playing in order to vote!');
        } else{
            conn.send(JSON.stringify({"vote": 'up', "time": player.getCurrentTime()}));
        };
        return false;
      });
      $('#downvote').click(function() {
        if (myPlayerState != 1) {
            bootstrap_alert.warning('The video must be playing in order to vote!');
        } else{
            conn.send(JSON.stringify({"vote": 'down', "time": player.getCurrentTime()}));
        };
        return false;
      });

      $('form').submit(function() {
        var text = $('#text').val();
        log('Sending: ' + text);
        conn.send(text);
        $('#text').val('').focus();
        return false;
      });
    });

  $( document ).ready(function() {
    console.log( "ready!" );
    bootstrap_alert = function() {};
bootstrap_alert.warning = function(message) {
            $('#alert_placeholder').html('<div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><span>'+message+'</span></div>');
        };

});

</script>
</head>
<body>

  <div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
    <div id = "alert_placeholder"></div>

<h3>Vote!</h3>
<div id="protocols" style="float: right">
  <ul>
    <li>
      <input id="websocket" type="checkbox" value="websocket" checked="checked"></input>
      <label for="websocket">websocket</label>
    </li>
    <li>
      <input id="xhr-streaming" type="checkbox" value="xhr-streaming" checked="checked"></input>
      <label for="xhr-streaming">xhr-streaming</label>
    </li>
    <li>
      <input id="iframe-eventsource" type="checkbox" value="iframe-eventsource" checked="checked"></input>
      <label for="iframe-eventsource">iframe-eventsource</label>
    </li>
    <li>
      <input id="iframe-htmlfile" type="checkbox" value="iframe-htmlfile" checked="checked"></input>
      <label for="iframe-htmlfile">iframe-htmlfile</label>
    </li>
    <li>
      <input id="xhr-polling" type="checkbox" value="xhr-polling" checked="checked"></input>
      <label for="xhr-polling">xhr-polling</label>
    </li>
    <li>
      <input id="iframe-xhr-polling" type="checkbox" value="iframe-xhr-polling" checked="checked"></input>
      <label for="iframe-xhr-polling">iframe-xhr-polling</label>
    </li>
    <li>
      <input id="jsonp-polling" type="checkbox" value="jsonp-polling" checked="checked"></input>
      <label for="jsonp-polling">jsonp-polling</label>
    </li>
  </ul>
</div>

<div>
  <a id="connect" href="#">Connect</a>&nbsp;|&nbsp;Status: <span id="status">disconnected</span>
</div>
<div id="log" style="width: 60em; height: 20em; overflow:auto; border: 1px solid black">
</div>
<!--
<form id="chatform">
  <input id="text" type="text"/>
  <input type="submit" />
</form>-->

<div id="upvote"><h2><span class="label label-success">Upvote</span></h2></div>
<div id="downvote"><h2><span class="label label-danger">Downvote</span></h2></div>

<div id="wooot"></div>
<table>
    <thead>
        <tr>
            <td>Key</td>
            <td>Value</td>
        </tr>
     </thead>
    <tbody>
        <tr>
            <td>Position</td>
            <td id="position"></td>
        </tr>
        <tr>
            <td>Duration</td>
            <td id="duration"></td>
        </tr>
    </tbody>
</table>

    </div>
  </div>
</div>
</body>
</html>
